body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-wrapper {
    outline-style: solid;
    margin: 20px;
}

.grid-container {
    height: 600px;
    width: 600px;
    display: grid;
    padding: 0;
    margin: 0;
    background-color: white;
}

.grid {
    border: 1px solid #dbdbdb;
}

.controls-container {
    display: flex;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 240px;
}

.reset-grid-btn {
    background-color: dodgerblue;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    width: 150px;
}
